    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 24px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4CAF50;
    }
        hr{
            width: 100%;
        }
        #ppt{
            margin-top: 30px;
            margin-left:13%;
            height:100%;
        }
        td{
            font-size: larger;
            text-align: center;
            width: 220px;
        }
        table{
            margin-top: 50px;
            margin-left: 10px;
        }
        #name{
            font-size: 35px;
            margin-top: -100px;
            margin-right: 10px;
            text-align: center;
        }
        #logo{
            margin-top: -40px;
        }
