@charset "UTF-8";

.subMenuParent { position: relative; }

.subMenu {
  position: absolute;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.subMenuParent:hover .subMenu {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
