@charset "UTF-8";

body {background-color: #0c0101; color : white; text-align: center;}
input {height: 40px; width: 30%;}
form {background-color: gray; width: 55%;margin: 0 auto; padding-top: 10px; padding-bottom: 10px;}
